/*
***********User Grid CSS*******************/
label{font-weight: normal;}
table.dataTable.no-footer { border-bottom: none; }
.dropdown-item { display: block; width: 100%; padding: 3px 1.5rem; clear: both; font-weight: 400; color: #373a3c; text-align: inherit; white-space: nowrap; background: 0 0; border: 0; }
.table-responsive{overflow: inherit;}
.fieldset{padding-top: 15px;}
.fieldset legend{font-size: 12px;padding-bottom: 10px; padding-top: 15px;text-transform: uppercase; font-weight: bold; margin-bottom:0;}
/*
*****************Login page*****************/
.link-forgot-password {margin-top: 10px;padding-right: 0; text-align: right;}
.btn-block {margin-top: 10px;}
.parsley-errors-list{ margin:5px 0 0; color: #ff0000;}

/*
****************Grid CSS*********************/
.table-bordered.table>thead>tr>th{background-color:#eaeaea;text-align:center;vertical-align:middle;font-size:12px;padding:5px 15px 5px 5px;}
.table-bordered.table > tbody > tr > td{padding:5px 15px 5px 5px;}
.table > tbody > tr > td .input-group-btn{ display: table; margin: auto;}
.table > tbody > tr > td .input-group-btn > a{font-size: 18px;color: #3498DB;}
.table > tbody > tr > td .dropdown-menu-right {right: 0; left: auto; min-width: 120px;}
.table > tbody > tr > td .dropdown-menu-right a i{  float: left; font-size: 14px; margin-right: 10px; margin-top: 3px;}

